#side1cont, #contcont {
	position: relative;
}

.plus-new {
	position: absolute;
	display: block;
	border-radius: 4px;
	background: #DDDDDD;
	font-size: 13px;
	padding: 5px;
	right: 52px;
	top: 70px;
}

.plus-new:hover {
	text-decoration: none;
	background: #DDDDDD;
}

.plus-rating {
	position: absolute;
	right: 22px;
	top: 75px;
	color: #FFF;
	background: #346792;
	padding: 10px;
	font-size: 2em;
	font-weight: bold;
	border-radius: 4px;
}

.plus-rating-imdb {
	right: 90px;
	top: 75px;
}

.plus-rating a, .plus-rating a:hover,.plus-rating a:visited {
	text-decoration: none;
	color: #FFF !important;
}

.plus-rating-blue {
	background: #658DB4;
}

.plus-rating-red {
	background: #BB0011;
}

.plus-rating-black {
	background: #535353;
}

.plus-version {
	margin-left: 10px;
}

.plus-topped.r1 td {
	background: rgba(255,0,0,.2) !important;
}

.plus-topped.r td {
	background: rgba(255,0,0,.1) !important;
}

.plus-search {
	box-sizing: border-box;
	position: absolute;
	width: 298px;
	left: 0px;
	top: 205px;
	-webkit-border-radius: 0 0 4px 4px !important;
	border-radius: 0 0 4px 4px !important;
	border: 1px solid #C1C1C1 !important;
	border-top:none !important;
}
