#side1cont, #contcont {
	position: relative;
}

.plus-new {
	position: absolute;
	display: block;
	border-radius: 4px;
	background: #DDDDDD;
	font-size: 13px;
	padding: 5px;
	right: 96px;
	top: 70px;
}

.plus-new:hover {
	text-decoration: none;
	background: #DDDDDD;
}

.plus-rating {
	position: absolute;
	right: 22px;
	top: 75px;
	color: #FFF;
	background: #346792;
	padding: 10px;
	font-size: 2em;
	font-weight: bold;
	border-radius: 4px;
}

.plus-rating-imdb {
	right: 90px;
	top: 75px;
}

.plus-rating a, .plus-rating a:hover,.plus-rating a:visited {
	text-decoration: none;
	color: #FFF !important;
}

.plus-csfd, .plus-imdb {
	display: inline-block;
	width: 100%;
	padding: 4px 0;
}

.plus-rating-blue {
	background: #658DB4 !important;
}

.plus-rating-red {
	background: #BB0011 !important;
}

.plus-rating-black {
	background: #535353 !important;
}

.plus-cell-rating {
	padding: 0 !important;
	text-align: center !important;
	font-weight: bold !important;
	display: 
}

.plus-cell-rating a {
	color: #FFF !important;
}

.plus-version {
	margin-left: 10px;
}

.plus-topped.r1 td {
	background: rgba(255,0,0,.2) !important;
}

.plus-topped.r td {
	background: rgba(255,0,0,.1) !important;
}

.plus-search {
	box-sizing: border-box;
	position: absolute;
	width: 298px;
	left: 0;
	top: 205px;
	-webkit-border-radius: 0 0 4px 4px !important;
	border-radius: 0 0 4px 4px !important;
	border: 1px solid #C1C1C1 !important;
	border-top:none !important;
}

.plus-date {
	display: inline-block;
	padding: 5px;
	font-style: italic;
	font-size: 11px;
}

.plus-release {
	vertical-align: sub;
	font-style: italic;
}

.plus-release td {
	height: 16px !important;
}

.plus-autocomplete {
	vertical-align: top;
}

.plus-right {
	float: right;
}

.plus-switcher-label {
	vertical-align: super;
}

.plus-state-update,.plus-state-update:visited {
	color: #ff0000;
	margin: 10px 0;
}

.plus-animate-post {
	-webkit-animation: fading 4s; /* Chrome, Safari, Opera */
	animation: fading 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fading {
	from {background: rgba(255, 0, 0, 0.2);}
	to {background: #E2E2E2;}
}

/* Standard syntax */
@keyframes fading {
	from {background: rgba(255, 0, 0, 0.2);}
	to {background: #E2E2E2;}
}

.plus-unread-count, .plus-unread-count:visited {
	position: absolute;
	display: block;
	border-radius: 4px;
	background: #DDDDDD;
	font-size: 13px;
	padding: 5px;
	right: 12px;
	top: 70px;
	font-weight: bold;
}

.plus-unread-count:hover {
	text-decoration: none;
	background: #DDDDDD;
}

.plus-unread-count-red {
	color: #FF0000 !important;
}

.plus-new-post {
	font-weight: bold;
	padding-right: 5px;
	color: #FF0000;
}

.plus-opening {
	float: right;
	font-style: italic;
	color: #FF0000;
}

.search-choice-close {
	/*background: url(chrome-extension://mmokpgfcoggceagfifgeaihaebemhapj/chosen-sprite.png) -42px 1px no-repeat !important;*/
	background: url(chrome-extension://abgigldmglfimgechooinbdblfmipabb/chosen-sprite.png) -42px 1px no-repeat !important;
}